<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>match</title>
</head>
<body>
<h1 style="text-align: center; color: white" >This matching is based on your childhood game</h1>
    <form class=ren method="post">
        <label class="name">your name</label>
        <input class="box" type="text" name="name1" placeholder="name" required>
        <label class="name name1"> gender</label>
        <select class="box" style="height: 24px" required>
            <option>Male</option>
            <option>Female</option>
            <option>Menataly ill</option>
        </select>
    </form>
</body>
</html>