{% extends "base.html" %}
    {% block title %}
        welcome
    {% endblock %}

    {% block content %}
        <div class="form">
        <h2 style="color: red">provide necessary details to Log-In</h2>
        <form method="post" action="{{ url_for('s') }}">
        {{ form.csrf_token }}
<!--        {% for err in form.email.errors %}-->
<!--          <span style="color:red">{{err}}</span>-->
<!--        {% endfor %}-->
        {{ form.email.label}}<br>
        {{form.email(size=50)}}<br>
        {{ form.password.label}}<br>
        {{form.password(size=50)}}<br>
        {{ form.phone.label}}<br>
        {{form.phone(size=50)}}<br>
         <button type="submit"> Log in</button>
        </form>
        </div>
    {% endblock %}